* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 1200px;
}

.padre {
    display: flex;
    flex-flow: column nowrap;

}

.header {
    background-color: #000;
    flex-flow: column nowrap;
}

.menu {
    background: #541690;
    display: flex;
    flex-flow: row nowrap;
}

.logo {
    background: #FF4949;
    flex: 1 1 auto;
}

.nav {
    background: #FF4949;
    flex: 5 1 auto;
}

.social {
    background: #FF4949;
    flex: 1 1 auto;
}

.texto-principal {
    background: #FF8D29;
}

h1 {
    background: #FFCD38;
}

.section {
    background-color: #000;
    display: flex;
}

.articulos {
    background: #CDFCF6;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.article {
    background: #5F9DF7;
    flex: 1 1 40%;
}

.navegacion {
    background: #1746A2;
    flex: 1 1 100%;
}

.aside {
    background: #38E54D;
    flex: 1 1 auto;
}

.publi {
    background: #D2001A;
}

.footer {
    background-color: #000;
}

.foot {
    background: #554994;
}
@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
}
@media all and (max-width: 600px){

    .articulos{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
    }
}